/* Set width on the form input elements since they're 100% wide by default */
textarea {
    resize: none;
    /*height: 500px !important;*/
}

.container-fluid {
    padding: 50px;
}

.control-label{
    font-size: large;
}

.function-textbox
{
    min-height: 500px;
}